# Проект Прогнозирование оттока клиентов банка
Дата: 15 июня 2023 г.  
Автор: Троицкий Илья  

Проект выполняется в рамках курса Data Scince bootcamp

<h1>Содержание<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Описание-данных" data-toc-modified-id="Описание-данных-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Описание данных</a></span><ul class="toc-item"><li><span><a href="#Библиотеки" data-toc-modified-id="Библиотеки-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Библиотеки</a></span></li><li><span><a href="#Функции" data-toc-modified-id="Функции-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Функции</a></span></li></ul></li><li><span><a href="#Подготовка-данных" data-toc-modified-id="Подготовка-данных-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Подготовка данных</a></span></li><li><span><a href="#Исследование-задачи" data-toc-modified-id="Исследование-задачи-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Исследование задачи</a></span><ul class="toc-item"><li><span><a href="#Перед-разбитием-на-выборки,-проанализируем-баланс-классов" data-toc-modified-id="Перед-разбитием-на-выборки,-проанализируем-баланс-классов-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Перед разбитием на выборки, проанализируем баланс классов</a></span></li><li><span><a href="#Делим-на-выборки" data-toc-modified-id="Делим-на-выборки-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Делим на выборки</a></span></li><li><span><a href="#Кодирование-категорий" data-toc-modified-id="Кодирование-категорий-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Кодирование категорий</a></span></li><li><span><a href="#Масштабирование" data-toc-modified-id="Масштабирование-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Масштабирование</a></span></li><li><span><a href="#Random-Forest" data-toc-modified-id="Random-Forest-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Random Forest</a></span></li><li><span><a href="#LogisticRegression" data-toc-modified-id="LogisticRegression-3.6"><span class="toc-item-num">3.6&nbsp;&nbsp;</span>LogisticRegression</a></span></li><li><span><a href="#LogisticRegression-со-сбалансированным-весом" data-toc-modified-id="LogisticRegression-со-сбалансированным-весом-3.7"><span class="toc-item-num">3.7&nbsp;&nbsp;</span>LogisticRegression со сбалансированным весом</a></span></li></ul></li><li><span><a href="#Борьба-с-дисбалансом" data-toc-modified-id="Борьба-с-дисбалансом-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Борьба с дисбалансом</a></span><ul class="toc-item"><li><span><a href="#Увеличение-выборки" data-toc-modified-id="Увеличение-выборки-4.1"><span class="toc-item-num">4.1&nbsp;&nbsp;</span>Увеличение выборки</a></span><ul class="toc-item"><li><span><a href="#Random-Forest" data-toc-modified-id="Random-Forest-4.1.1"><span class="toc-item-num">4.1.1&nbsp;&nbsp;</span>Random Forest</a></span></li><li><span><a href="#LogisticRegression" data-toc-modified-id="LogisticRegression-4.1.2"><span class="toc-item-num">4.1.2&nbsp;&nbsp;</span>LogisticRegression</a></span></li></ul></li><li><span><a href="#Уменьшение-выборки" data-toc-modified-id="Уменьшение-выборки-4.2"><span class="toc-item-num">4.2&nbsp;&nbsp;</span>Уменьшение выборки</a></span><ul class="toc-item"><li><span><a href="#Random-Forests" data-toc-modified-id="Random-Forests-4.2.1"><span class="toc-item-num">4.2.1&nbsp;&nbsp;</span>Random Forests</a></span></li><li><span><a href="#Logistic-Regression" data-toc-modified-id="Logistic-Regression-4.2.2"><span class="toc-item-num">4.2.2&nbsp;&nbsp;</span>Logistic Regression</a></span></li></ul></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-4.3"><span class="toc-item-num">4.3&nbsp;&nbsp;</span>Вывод</a></span></li></ul></li><li><span><a href="#Тестирование-модели" data-toc-modified-id="Тестирование-модели-5"><span class="toc-item-num">5&nbsp;&nbsp;</span>Тестирование модели</a></span></li><li><span><a href="#Вывод" data-toc-modified-id="Вывод-6"><span class="toc-item-num">6&nbsp;&nbsp;</span>Вывод</a></span></li><li><span><a href="#Чек-лист-готовности-проекта" data-toc-modified-id="Чек-лист-готовности-проекта-7"><span class="toc-item-num">7&nbsp;&nbsp;</span>Чек-лист готовности проекта</a></span></li></ul></div>

# Отток клиентов

Из «Бета-Банка» стали уходить клиенты. Каждый месяц. Немного, но заметно. Банковские маркетологи посчитали: сохранять текущих клиентов дешевле, чем привлекать новых.

Нужно спрогнозировать, уйдёт клиент из банка в ближайшее время или нет. Вам предоставлены исторические данные о поведении клиентов и расторжении договоров с банком. 

Постройте модель с предельно большим значением *F1*-меры. Чтобы сдать проект успешно, нужно довести метрику до 0.59. Проверьте *F1*-меру на тестовой выборке самостоятельно.

Дополнительно измеряйте *AUC-ROC*, сравнивайте её значение с *F1*-мерой.

Источник данных: [https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling](https://www.kaggle.com/barelydedicated/bank-customer-churn-modeling)

## Описание данных
Данные находятся в файле /datasets/Churn.csv (англ. «отток клиентов»).  

**Признаки**  
RowNumber — индекс строки в данных  
CustomerId — уникальный идентификатор клиента  
Surname — фамилия  
CreditScore — кредитный рейтинг  
Geography — страна проживания  
Gender — пол  
Age — возраст  
Tenure — сколько лет человек является клиентом банка  
Balance — баланс на счёте  
NumOfProducts — количество продуктов банка, используемых клиентом  
HasCrCard — наличие кредитной карты  
IsActiveMember — активность клиента  
EstimatedSalary — предполагаемая зарплата  

**Целевой признак**  
Exited — факт ухода клиента

В проекте используется нотация:  
`x_` для переменных содержащих признаки  
`y_` для переменных содержаших целевые показатели

### Библиотеки

In [117]:
!pip install fast_ml

Requirement already satisfied: fast_ml in /opt/conda/lib/python3.9/site-packages (3.68)

In [118]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.linear_model import LogisticRegression

from sklearn.preprocessing import StandardScaler, OneHotEncoder

from sklearn.model_selection import train_test_split, GridSearchCV

from fast_ml.model_development import train_valid_test_split

from sklearn.metrics import f1_score, roc_auc_score, roc_curve, make_scorer

from sklearn.utils import shuffle

### Функции

In [119]:
def dataframe_info(df):
    display(df.head())
    print(df.shape)
    df.info()
    print(df.duplicated().sum())

def data_split(data, target):
    
    x = data.drop(target, axis=1)
    y = data[target]
    x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=12345, stratify=y)
    x_train, x_valid, y_train, y_valid = train_test_split(x_train, y_train, test_size=0.25, random_state=12345, stratify=y)    
       
    x_train = x_train.reset_index(drop=True)                              
    y_train = y_train.reset_index(drop=True) 
    x_valid = x_valid.reset_index(drop=True) 
    y_valid = y_valid.reset_index(drop=True) 
    x_test = x_test.reset_index(drop=True) 
    y_test = y_test.reset_index(drop=True) 

    return x_train, y_train, x_valid, y_valid, x_test, y_test

def data_scale(x_train, x_valid, x_test):
    
    scaler = StandardScaler()
    scaler.fit(x_train)

    x_train = pd.DataFrame(scaler.transform(x_train), columns=x_train.columns)
    x_valid = pd.DataFrame(scaler.transform(x_valid), columns=x_train.columns)
    x_test  = pd.DataFrame(scaler.transform(x_test), columns=x_train.columns)
    
    return x_train, x_valid, x_test    

def scores(targed, predictions, probabilities_one):
    
    print('F1-score: ', f1_score(targed, predictions))
    print('AUC_ROC:', roc_auc_score(targed, probabilities_one))

    fpr, tpr, thresholds = roc_curve(targed, predictions)

    plt.figure()
    plt.plot(fpr, tpr)
    plt.xlim([0.0, 1.0])
    plt.ylim([0.0, 1.0])
    plt.xlabel('False Positive Rate')
    plt.ylabel('True Positive Rate')
    plt.title('ROC-кривая')
    plt.show()

def upsample(features, target, repeat):
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_upsampled = pd.concat([features_zeros] + [features_ones] * repeat)
    target_upsampled = pd.concat([target_zeros] + [target_ones] * repeat)
    
    features_upsampled, target_upsampled = shuffle(
        features_upsampled, target_upsampled, random_state=12345)
    
    return features_upsampled, target_upsampled  

def downsample(features, target, fraction):
    features_zeros = features[target == 0]
    features_ones = features[target == 1]
    target_zeros = target[target == 0]
    target_ones = target[target == 1]

    features_downsampled = pd.concat(
        [features_zeros.sample(frac=fraction, random_state=12345)] + [features_ones])
    target_downsampled = pd.concat(
        [target_zeros.sample(frac=fraction, random_state=12345)] + [target_ones])
    
    features_downsampled, target_downsampled = shuffle(
        features_downsampled, target_downsampled, random_state=12345)
    
    return features_downsampled, target_downsampled

## Подготовка данных

In [120]:
try:
    df = pd.read_csv('datasets/Churn.csv')
except:
    df = pd.read_csv('/datasets/Churn.csv')

dataframe_info(df)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0

(10000, 14)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   RowNumber        10000 non-null  int64
 1   CustomerId       10000 non-null  int64
 2   Surname          10000 non-null  object
 3   CreditScore      10000 non-null  int64
 4   Geography        10000 non-null  object
 5   Gender           10000 non-null  object
 6   Age              10000 non-null  int64
 7   Tenure           9091 non-null   float64
 8   Balance          10000 non-null  float64
 9   NumOfProducts    10000 non-null  int64
 10  HasCrCard        10000 non-null  int64
 11  IsActiveMember   10000 non-null  int64
 12  EstimatedSalary  10000 non-null  float64
 13  Exited           10000 non-null  int64
dtypes: float64(3), int64(8), object(3)
memory usage: 1.1+ MB
0

В датасете 10000 строк. Дублей нет. В колонке `Tenure` есть NaN значения, проанализируем содержимое этой колонки

In [121]:
df['Tenure'].value_counts()

1.0     952
2.0     950
8.0     933
3.0     928
5.0     927
7.0     925
4.0     885
9.0     882
6.0     881
10.0    446
0.0     382
Name: Tenure, dtype: int64

Незаполненных значений 10% от всего датасета, выкидывать такое количество данных нельзя, поэтому предположу, что незаполняли параметр для новых клиентов и заполню все НаН нулями.

In [122]:
df = df[~df['Tenure'].isna()].reset_index(drop=True)
print(df.shape)

(9091, 14)

Колонки `RowNumber`, `CustomerId`, `Surname` не влияют на прогноз, поэтому эти данные удалим.

In [123]:
df = df.drop(['RowNumber', 'CustomerId', 'Surname'], axis=1)

Проанализируем колонки Страна и Пол для их последующего кодирования

In [124]:
df['Geography'].value_counts()

France     4550
Germany    2293
Spain      2248
Name: Geography, dtype: int64

In [125]:
df['Gender'].value_counts()

Male      4974
Female    4117
Name: Gender, dtype: int64

Предобработка не требуется. Произведем кодирование категориальных признаков, кодировать будем методом OHE, так как он подходит для всех моделей и в данном случае **порядок категориальных элементов не важен**.

In [126]:
#data_ohe = pd.get_dummies(df, drop_first=True, dtype=int)
#print(data_ohe.shape)
#display(data_ohe.head())

In [127]:
df_onehot = df.copy()
 
onehot_first = OneHotEncoder(drop = 'first', sparse = False)
 
encoded_df = pd.DataFrame(onehot_first.fit_transform(df_onehot[['Geography']]))
encoded_df.columns = onehot_first.categories_[0][1:]

df_onehot = df_onehot.join(encoded_df)
display(df_onehot.head(10))

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Germany,Spain
0,619,France,Female,42,2.0,0.00,1,1,1,101348.88,1,0.0,0.0
1,608,Spain,Female,41,1.0,83807.86,1,0,1,112542.58,0,0.0,1.0
2,502,France,Female,42,8.0,159660.80,3,1,0,113931.57,1,0.0,0.0
3,699,France,Female,39,1.0,0.00,2,0,0,93826.63,0,0.0,0.0
4,850,Spain,Female,43,2.0,125510.82,1,1,1,79084.10,0,0.0,1.0
5,645,Spain,Male,44,8.0,113755.78,2,1,0,149756.71,1,0.0,1.0
6,822,France,Male,50,7.0,0.00,2,1,1,10062.80,0,0.0,0.0
7,376,Germany,Female,29,4.0,115046.74,4,1,0,119346.88,1,1.0,0.0
8,501,France,Male,44,4.0,142051.07,2,0,1,74940.50,0,0.0,0.0
9,684,France,Male,27,2.0,134603.88,1,1,1,71725.73,0,0.0,0.0

Теперь произведем масштабирование признаков

Вывод: В дата сете 10000 строк, достаточно для обучения модели. Пропуски в колонке "сколько лет человек является клиентом банка" заполнили нулями. Признаки "Страна" и "Пол" закодировали прямым кодированием.

## Исследование задачи

### Перед разбитием на выборки, проанализируем баланс классов

In [128]:
print(df['Exited'].value_counts())
print(df['Exited'].value_counts(normalize=True))

0    7237
1    1854
Name: Exited, dtype: int64
0    0.796062
1    0.203938
Name: Exited, dtype: float64

Пропорция отрицательных к положэительным значений примерно 4 к 1.  
Попробуем сначала обучить модель на таких данных. Обучать будем Случайный лес и логистическую регрессию.

### Делим на выборки

In [135]:
x_train, y_train, x_valid,  y_valid, x_test, y_test = data_split(df, 'Exited')
print(x_train.shape)
print(x_valid.shape)
print(x_test.shape)
display(x_train.head(5))

(5454, 10)
(1818, 10)
(1819, 10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,629,Spain,Female,44,6.0,125512.98,2,0,0,79082.76
1,614,France,Female,35,1.0,0.00,2,1,1,3342.62
2,666,France,Male,36,3.0,0.00,2,1,0,35156.54
3,683,Germany,Female,57,5.0,162448.69,1,0,0,9221.78
4,737,France,Male,36,9.0,0.00,1,0,1,188670.90

### Кодирование категорий

In [130]:
categorical_features = ['Geography','Gender'] 
ohe_encoder = OneHotEncoder(drop = 'first', sparse = False)
 
encoded_df = pd.DataFrame(ohe_encoder.fit_transform(x_train[categorical_features]))
columns = ohe_encoder.categories_[0][1:].tolist()
columns_gender = ohe_encoder.categories_[1][1:].tolist()
columns.extend(columns_gender)

encoded_df.columns = columns

x_train = x_train.join(encoded_df)
x_train = x_train.drop(categorical_features, axis=1)
display(x_train.head(10))

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,629,44,6.0,125512.98,2,0,0,79082.76,0.0,1.0,0.0
1,614,35,1.0,0.00,2,1,1,3342.62,0.0,0.0,0.0
2,666,36,3.0,0.00,2,1,0,35156.54,0.0,0.0,1.0
3,683,57,5.0,162448.69,1,0,0,9221.78,1.0,0.0,0.0
4,737,36,9.0,0.00,1,0,1,188670.90,0.0,0.0,1.0
5,553,46,3.0,82291.10,1,1,0,112549.99,1.0,0.0,1.0
6,572,39,2.0,0.00,2,1,1,555.28,0.0,0.0,0.0
7,648,33,7.0,135310.41,2,0,1,171668.20,1.0,0.0,1.0
8,778,29,6.0,150358.97,1,1,0,62454.01,1.0,0.0,0.0
9,600,35,4.0,143744.77,2,1,0,104076.51,0.0,0.0,1.0

In [131]:
encoded_data = pd.DataFrame(ohe_encoder.transform(x_valid[categorical_features]))
encoded_data.columns = columns
x_valid = x_valid.join(encoded_df)
x_valid = x_valid.drop(categorical_features, axis=1)
display(x_valid.head(10))

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,551,52,1.0,0.00,1,0,0,63584.55,0.0,1.0,0.0
1,557,33,3.0,54503.55,1,1,1,371.05,0.0,0.0,0.0
2,485,25,3.0,134467.26,1,1,1,113266.09,0.0,0.0,1.0
3,526,32,7.0,125540.05,1,0,0,86786.41,1.0,0.0,0.0
4,633,43,3.0,144164.29,1,1,1,158646.46,0.0,0.0,1.0
5,773,36,4.0,105858.71,1,0,1,4395.45,1.0,0.0,1.0
6,613,40,1.0,147856.82,3,0,0,107961.11,0.0,0.0,0.0
7,651,39,8.0,0.00,1,1,0,137452.57,1.0,0.0,1.0
8,660,34,8.0,106486.66,2,0,1,182262.66,1.0,0.0,0.0
9,421,34,6.0,90723.36,1,1,1,12162.76,0.0,0.0,1.0

In [132]:
encoded_data = pd.DataFrame(ohe_encoder.transform(x_test[categorical_features]))
encoded_data.columns = columns
x_test = x_test.join(encoded_df)
x_test = x_test.drop(categorical_features, axis=1)
display(x_test.head(10))

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,725,41,7.0,113980.21,1,1,1,116704.25,0.0,1.0,0.0
1,530,45,1.0,0.00,1,0,1,190663.89,0.0,0.0,0.0
2,707,35,3.0,56674.48,1,1,0,17987.40,0.0,0.0,1.0
3,730,32,9.0,127661.69,1,0,0,60905.51,1.0,0.0,0.0
4,582,30,2.0,0.00,2,1,1,132029.95,0.0,0.0,1.0
5,847,31,5.0,0.00,2,1,1,76326.67,1.0,0.0,1.0
6,663,49,7.0,116150.65,3,1,1,84358.71,0.0,0.0,0.0
7,717,22,5.0,112465.06,1,1,1,92977.75,1.0,0.0,1.0
8,754,34,7.0,0.00,2,1,1,65219.85,1.0,0.0,0.0
9,686,38,2.0,93569.86,3,0,0,10137.34,0.0,0.0,1.0

###  Масштабирование

In [133]:
x_train, x_valid, x_test = data_scale(x_train, x_valid, x_test)

### Random Forest

In [ ]:
model = RandomForestClassifier(random_state=12345, n_estimators=60, max_depth=10)
model.fit(x_train, y_train)
y_pred = model.predict(x_valid)
y_prob = model.predict_proba(x_valid)[:, 1]
scores(y_valid, y_pred, y_prob)

### LogisticRegression

In [ ]:
model = LogisticRegression(random_state=12345, solver='liblinear')
model.fit(x_train, y_train)
y_pred = model.predict(x_valid)
y_prob = model.predict_proba(x_valid)[:, 1]

scores(y_valid, y_pred, y_prob)

### LogisticRegression со сбалансированным весом

In [ ]:
model = LogisticRegression(random_state=12345, solver='liblinear', class_weight='balanced')
model.fit(x_train, y_train)
y_pred = model.predict(x_valid)
y_prob = model.predict_proba(x_valid)[:, 1]

scores(y_valid, y_pred, y_prob)

Вывод: На несбалансированных данных и без перебора метапараметров получаем низкое качество предсказаний, но все равно лучше случайной модели. Случайный лес показывает лучшие результаты. Логистическая регрессия показывает лучшие результаты с параметром балансировки классов, значит баланс классов имеет большой эффект. Попробуем сбалансировать вручную.

## Борьба с дисбалансом

### Увеличение выборки

In [ ]:
x_upsampled, y_upsampled = upsample(x_train, y_train, 4)
y_upsampled.value_counts()

#### Random Forest

Поиск оптимальных параметров с помощью сетки

In [ ]:
%%time

grid_space={'max_depth':[5,7,9,10,15],
              'n_estimators':[60,100],
              'max_features':[3,5,7],
              'min_samples_leaf':[1,2,3],
              'min_samples_split':[1,2,3]
           }

rf = RandomForestClassifier(random_state=12345)

grid = GridSearchCV(rf, param_grid=grid_space, cv=3, scoring='f1', n_jobs=-1)
model_grid = grid.fit(x_upsampled, y_upsampled)

# grid search results
print('Best grid search hyperparameters are: '+str(model_grid.best_params_))
print('Best grid search score is: '+str(model_grid.best_score_))

In [ ]:
best_grid_model = RandomForestClassifier(random_state=12345, 
                                         max_depth=15, 
                                         max_features=3, 
                                         min_samples_leaf=1, 
                                         min_samples_split=2, 
                                         n_estimators=100)
best_grid_model.fit(x_upsampled, y_upsampled)
y_pred = best_grid_model.predict(x_valid)                                         
y_prob = best_grid_model.predict_proba(x_valid)[:, 1]

scores(y_valid, y_pred, y_prob)

Поиск оптимальных метапараметров с помощью цикла

In [ ]:
%%time

best_f1_score = 0.0
best_roc_auc = 0.0
best_depth = 0
best_est = 0
best_RF_model = ''

for depth in range(1,16):
    for est in [1,60,100]:
        
        model = RandomForestClassifier(random_state=12345, n_estimators=est, max_depth=depth)
        model.fit(x_upsampled, y_upsampled)
        y_pred = model.predict(x_valid)
        f1 = f1_score(y_valid, y_pred)    
        if f1 > best_f1_score:    
            best_f1_score = f1
            best_depth = depth
            best_est = est
            best_RF_model = model

y_prob = best_RF_model.predict_proba(x_valid)[:, 1]
best_roc_auc = roc_auc_score(y_valid, y_prob)

print(f'Best F1-score: {best_f1_score}')     
print(f'Best ROC-AUC: {best_roc_auc}')     
print(f'Best meta: Depth:{best_depth} Estimators: {best_est}')

#### LogisticRegression

In [ ]:
%%time

best_f1_score = 0.0
best_roc_auc = 0.0
best_max_iter = 0
best_LR_model = ''

for max_iter in [100,500,1000, 10000]:
        
    model = LogisticRegression(random_state=12345, solver='liblinear', max_iter=max_iter)
    model.fit(x_upsampled, y_upsampled)
    y_pred = model.predict(x_valid)
    f1 = f1_score(y_valid, y_pred)    
    if f1 > best_f1_score:    
        best_f1_score = f1
        best_max_iter = max_iter
        best_LR_model = model

y_prob = best_LR_model.predict_proba(x_valid)[:, 1]
best_roc_auc = roc_auc_score(y_valid, y_prob)
        
print(f'Best F1-score: {best_f1_score}')  
print(f'Best ROC-AUC: {best_roc_auc}')   
print(f'Best meta: max_iter:{max_iter}')

### Уменьшение выборки

In [ ]:
x_downsampled, y_downsampled = downsample(x_train, y_train, 0.25)
y_downsampled.value_counts()

#### Random Forests

Поиск сеткой

In [ ]:
%%time
f1 = make_scorer(f1_score , average='macro')

grid_space={'max_depth':[5,7,9,10,15],
              'n_estimators':[60,100],
              'max_features':[3,5,7],
              'min_samples_leaf':[1,2,3],
              'min_samples_split':[1,2,3]
           }

rf = RandomForestClassifier(random_state=12345)

grid = GridSearchCV(rf, param_grid=grid_space, cv=3, scoring='f1', n_jobs=-1)
model_grid = grid.fit(x_downsampled, y_downsampled)

# grid search results
print('Best grid search hyperparameters are: '+str(model_grid.best_params_))
print('Best grid search score is: '+str(model_grid.best_score_))

In [ ]:
best_grid_model = RandomForestClassifier(random_state=12345, 
                                         max_depth=9, 
                                         max_features=7, 
                                         min_samples_leaf=1, 
                                         min_samples_split=2, 
                                         n_estimators=100)
best_grid_model.fit(x_upsampled, y_upsampled)
y_pred = best_grid_model.predict(x_valid)                                         
y_prob = best_grid_model.predict_proba(x_valid)[:, 1]

scores(y_valid, y_pred, y_prob)

Поиск циклом

In [ ]:
%%time

best_f1_score = 0.0
best_roc_auc = 0.0
best_depth = 0
best_est = 0
best_RF_model = ''

for depth in range(1,16):
    for est in [1,60,100]:
        
        model = RandomForestClassifier(random_state=12345, n_estimators=est, max_depth=depth)
        model.fit(x_downsampled, y_downsampled)
        y_pred = model.predict(x_valid)
        f1 = f1_score(y_valid, y_pred)    
        if f1 > best_f1_score:    
            best_f1_score = f1
            best_depth = depth
            best_est = est
            best_RF_model = model
            

y_prob = best_RF_model.predict_proba(x_valid)[:, 1]
best_roc_auc = roc_auc_score(y_valid, y_prob) 

print(f'Best F1-score: {best_f1_score}')     
print(f'Best ROC-AUC: {best_roc_auc}')     
print(f'Best meta: Depth:{best_depth} Estimators: {best_est}')

#### Logistic Regression

In [ ]:
%%time

best_f1_score = 0.0
best_roc_auc = 0.0
best_max_iter = 0
best_LR_model = ''

for max_iter in [100,500,1000, 10000]:
        
    model = LogisticRegression(random_state=12345, solver='liblinear', max_iter=max_iter)
    model.fit(x_downsampled, y_downsampled)
    y_pred = model.predict(x_valid)
    f1 = f1_score(y_valid, y_pred)    
    if f1 > best_f1_score:    
        best_f1_score = f1
        best_max_iter = max_iter
        best_LR_model = model
 
y_prob = best_LR_model.predict_proba(x_valid)[:, 1]
best_roc_auc = roc_auc_score(y_valid, y_prob) 

print(f'Best F1-score: {best_f1_score}')  
print(f'Best ROC-AUC: {best_roc_auc}')   
print(f'Best meta: max_iter:{max_iter}')

Вывод: лучшая модель по оценке F1 стала Случайный Лес с метапараметрами: глубина 9, дереьверь: 60 и обученная на данных со сбалансированными классами по методу увеличения выборки.

###   Вывод
Вывод: лучшая модель по оценке F1 стала Случайный Лес с метапараметрами: глубина 11, дереьверь: 60 и обученная на данных со сбалансированными классами по методу увеличения выборки.

## Тестирование модели

Модель, найденая с помощью сетки

In [ ]:
model = RandomForestClassifier(random_state=12345, n_estimators=60, max_depth=11)
model.fit(x_upsampled, y_upsampled)

y_pred = model.predict(x_test)
y_prob = model.predict_proba(x_valid)[:, 1]

scores(y_test, y_pred, y_prob)

## Вывод

Мы получили модель предсказания того, уйдет в блажайшее время клиент или нет, с оценкой работы на тестовых данных равной 0,60, что выше требуемой в ТЗ 0.59.  
Модель относится к типу Случайный Лес, и обладает метапараметрами `Depth:11 Estimators: 60`.   

F1-score:  0.6049237983587338  
AUC_ROC: 0.7682682714691361